
<div class="container">
<form method="POST" action="/addnimes">
  <div class="form-group">
    <label for="nameOfShow">Name of Show</label>
    <input class="form-control" type="text" name="nameOfShow" id="nameOfShow" required>
  <div>
    <label for="yearReleased">Year released</label>
    <input class="form-control" type="number" name="yearReleased" id="yearReleased" required>
  </div>
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" name="description" rows="8" cols="80"></textarea>
  </div>
  <div class="form-group">
    <label for="stars">Stars</label>
    <input class="form-control" type="number" name="stars" id="stars" min="1" max="5" required>
  </div>
  <div class="form-group">
    <label for="image">Image link</label>
    <input class="form-control" type="text" name="image" id="image" required>
  </div>
  <button class="btn btn-primary">Add anime</button>
</form>
</div>
