
<div class="jumbotron-fluid">
  <div class="container-fluid">
    <a href="/addnimes"><img class="homepage img-fluid" src="https://i.ytimg.com/vi/IAlbvyBdYdY/maxresdefault.jpg" alt=""></a>
    <a class="ga">GA&reg; Production</a>
    <a class="masee">Masee&copy; Creation</a>
  </div>
</div>
