body {
  font-family: 'Roboto', sans-serif;
}

.starsColor {
  color: gold;
}

.webpage-font {
  font-family: 'Bangers', cursive;
  font-size: 40px;
}

.masee {
  float: right;
  padding: 10px;
}

.ga {
  float: left;
  padding: 10px;
}

.img-fluid {
  min-height: 260px;
}

.anime-options {
  position: absolute;
  top: 20px;
  right: 35px;
  text-align: right;
  a, button {
    margin-bottom: 10px;
    min-width: 150px;
    cursor: pointer;
  }
}
