body {
  font-family: 'Cantarell', sans-serif;
}

.starsColor {
  color: gold;
}

.webpage-font {
  font-family: 'Bangers', cursive;
  font-size: 50px;
}

.masee {
  position: inherit;
  float: right;
  padding: 10px;
}

.ga {
  position: inherit;
  float: left;
  padding: 10px;
}

.img-fluid {
  min-height: 250px;
}

.bold {
  font-weight: bold;
}

.comments {
  padding: 10px 0 10px 0;
}



.anime-options {
  position: auto;
  top: 355px;
  right: 15px;
  text-align: right;
  a, button {
    margin-bottom: 10px;
    min-width: 150px;
    cursor: pointer;
  }
}

.message {
  text-align: center;
  padding-top: 30px;
  font-size: 30px;
}

.container {
  padding: 30px;
}

.register {
  padding: 90px 0 170px 0;

}

.login {
  padding: 120px 0 310px 0;
}

.nav-link {
  font-size: 20px;
}
